@use '../../variables';

.DragNDrop {
  &Container{
    width: 300px;
    height: 150px;
    border: 1px dashed variables.$color-primary;
    border-radius: 15px;
    color: variables.$color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}